.vs/
.idea/
obj/
bin/
*.user
AetherRemoteInterface/
AetherRemoteDiscordBot/
AetherRemoteAdminConsole/
AetherRemoteServer/Data/
/AetherRemoteServer/Properties/PublishProfiles
AetherRemoteServer/.config/dotnet-tools.json
